__pycache__/
.buildkite/build_scripts/venv
.coverage
.devcontainer/
.idea/
.venv/
.vscode/
*.code-workspace
*.DS_Store
*.egg-info/
*.lock
*.log
artifacts/
bulk_files/
data-shared-project-utils/
dist/
logs/
requirements.txt
result.xml
shared-ci/
testvenv
tmp/
deploy/ansible/entity_config.yml
deploy/ansible/stack_children.yml
deploy/ansible/datalake_cloudform_config.yml
deploy/ansible/datalake_config.yml
